{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    افزودن برند
{% endblock %}
{% block main %}
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">افزودن برند</h2>
        {% if request.user.is_superuser %}
            <!-- دکمه‌های عملیات -->
            <div class="text-right mb-3">
                <a href="{% url 'add_phone' %}" class="btn btn-primary">افزودن محصول</a>
                <a href="{% url 'list_phone' %}" class="btn btn-primary">لیست محصولات</a>
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow" novalidate>
            {% csrf_token %}
            <div class="form-group text-right">
                <label for="{{ form.name.id_for_label }}" class="font-weight-bold">نام برند</label>
                {{ form.name|add_class:"form-control" }}
                {% if form.name.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.name.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group text-right">
                <label for="{{ form.nationality.id_for_label }}" class="font-weight-bold">ملیت</label>
                {{ form.nationality|add_class:"form-control" }}
                {% if form.nationality.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.nationality.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">ارسال</button>
        </form>

        <h3 class="mt-5 text-center">لیست برندها</h3>
        <table id="brands-table" class="table table-bordered mt-3 text-right">
            <thead class="thead-light">
                <tr>
                    <th>نام برند</th>
                    <th>ملیت</th>
                    <th class="text-right">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                    <tr id="brand-row-{{ brand.slug }}">
                        <td>{{ brand.name }}</td>
                        <td>{{ brand.nationality }}</td>
                        <td class="text-right">
                            <a href="{% url 'edit_brand' brand.slug %}" class="btn btn-warning btn-sm">ویرایش</a>

                            <button class="btn btn-danger btn-sm delete-brand" data-id="{{ brand.slug }}">حذف</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center alert alert-warning">هیچ برندی موجود نیست</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
