{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    افزودن اطلاعات موبایل
{% endblock %}

{% block main %}

    <body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">افزودن اطلاعات موبایل</h2>

        <div class="text-right mb-3">
            <a href="{% url 'list_phone' %}" class="btn btn-primary">لیست محصولات</a>
        </div>

        <!-- نمایش ارورهای کلی فرم -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow" novalidate>
            {% csrf_token %}

            <!-- مدل -->
            <div class="form-group text-right">
                {{ form.model.label_tag }}
                {{ form.model|add_class:"form-control d-inline-block" }}
                {% if form.model.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.model.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- برند -->
            <div class="form-group text-right">
                {{ form.brand.label_tag }}
                <div class="input-group">
                    {{ form.brand|add_class:"form-control" }}
                    <div class="input-group-append">
                        <a href="{% url 'add_brand' %}?next={{ request.path }}" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i> افزودن برند
                        </a>
                    </div>
                </div>
                {% if form.brand.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.brand.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- رنگ -->
            <div class="form-group text-right">
                {{ form.color.label_tag }}
                <div class="input-group">
                    {{ form.color|add_class:"form-control" }}
                    <div class="input-group-append">
                        <a href="{% url 'add_color' %}?next={{ request.path }}" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i> افزودن رنگ
                        </a>
                    </div>
                </div>
                {% if form.color.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.color.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- کشور سازنده -->
            <div class="form-group text-right">
                {{ form.country_of_manufacture.label_tag }}
                <div class="input-group">
                    {{ form.country_of_manufacture|add_class:"form-control" }}
                    <div class="input-group-append">
                        <a href="{% url 'add_country' %}?next={{ request.path }}" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i> افزودن کشور
                        </a>
                    </div>
                </div>
                {% if form.country_of_manufacture.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.country_of_manufacture.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- قیمت -->
            <div class="form-group text-right">
                {{ form.price.label_tag }}
                {{ form.price|add_class:"form-control" }}
                {% if form.price.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.price.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- اندازه صفحه نمایش -->
            <div class="form-group text-right">
                {{ form.screen_size.label_tag }}
                {{ form.screen_size|add_class:"form-control" }}
                {% if form.screen_size.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.screen_size.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- تصویر -->
            <div class="form-group text-right">
                {{ form.image.label_tag }}
                <input type="file" name="image" id="imageInput" class="form-control">
                <img id="imagePreview" src="#" alt="پیش‌نمایش تصویر" style="display:none; max-height: 200px;"
                     class="mt-3">
                {% if form.image.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.image.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- موجودیت -->
            <div class="form-group form-check text-right">
                {{ form.is_available }}
                {{ form.is_available.label_tag }}
                {% if form.is_available.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.is_available.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- دکمه ارسال -->
            <button type="submit" class="btn btn-primary btn-block" style="transition: background-color 0.3s ease;">
                ارسال
            </button>
        </form>
    </div>

    <!-- اسکریپت برای پیش‌نمایش تصویر -->


    </body>

{% endblock %}