{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<html lang="fa">
{% block title %}
    حذف برند
{% endblock %}
{% block main %}
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">آیا مطمئن هستید که می‌خواهید این برند را حذف کنید؟</h2>

    <form method="post" action="{% url 'delete_brand' brand.id %}" class="bg-light p-4 rounded shadow">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block">حذف</button>
        <a href="{% url 'add_brand' %}" class="btn btn-secondary btn-block">لغو</a>
    </form>
</div>
</body>
</html>
{% endblock %}
