{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<html lang="fa">
{% block title %}
    ویرایش کشور
{% endblock %}

{% block main %}
    <body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">ویرایش کشور</h2>

        <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow" novalidate>
            {% csrf_token %}

            <div class="form-group text-right">
                {{ form.name.label_tag }}
                {{ form.name|add_class:"form-control" }}
                {% if form.name.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.name.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group text-right">
                {{ form.slug.label_tag }}
                {{ form.slug|add_class:"form-control" }}
                {% if form.slug.errors %}
                    <div class="alert alert-danger mt-2 error-message">
                        {{ form.slug.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">ذخیره تغییرات</button>
        </form>
    </div>
    </body>
    </html>
{% endblock %}