body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    direction: rtl; /* راست‌چین کردن کل متن */
}

h1 {
    color: #333;
    text-align: center; /* مرکزچین کردن عنوان */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: right; /* راست‌چین کردن محتویات جدول */
}

th {
    background-color: burlywood;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.search-form {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #555;
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #0056b3;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* تنظیمات مربوط به نمایش اعداد و عناصر LTR */
.ltr-number, .pagination {
    direction: ltr; /* اعداد و صفحه‌بندی به صورت چپ به راست */
    text-align: left;
}

/* تنظیمات مربوط به صفحه‌بندی */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

