body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    direction: rtl; /* راست‌چین کردن متن */
}

h1 {
    color: #333;
    text-align: center; /* مرکزچین کردن عنوان */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: right; /* راست‌چین کردن محتویات جدول */
}

th {
    background-color: burlywood;

    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.search-form {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #555;
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #0056b3;
}

.error-message {
    /*border: 1px solid #dc3545; !* رنگ حاشیه قرمز *!*/
    background-color: #f8d7da; /* پس‌زمینه قرمز کمرنگ */
    color: #721c24; /* رنگ متن */
    padding: 8px 12px; /* فاصله داخلی */
    border-radius: 5px; /* گوشه‌های گرد */
    font-family: 'Arial', sans-serif; /* انتخاب فونت */
    font-size: 18px; /* اندازه فونت */
    margin-top: 5px; /* فاصله از بالای کادر */
    /*width: fit-content; !* اندازه کادر بر اساس محتوا *!*/
}

a {
    text-decoration: none; /* خط زیر لینک را حذف می‌کند */
}

a:hover {
    text-decoration: underline; /* در حالت hover خط زیر لینک را برمی‌گرداند */
}