<script>
    document.getElementById('imageInput').onchange = function (e) {
        const reader = new FileReader();
        reader.onload = function (event) {
            const imgElement = document.getElementById('imagePreview');
            imgElement.src = event.target.result;
            imgElement.style.display = 'block';
        };
        reader.readAsDataURL(e.target.files[0]);
    };
</script>

<script>
    $(document).ready(function () {
    // وقتی گزینه برند تغییر کند
    $('#id_brand').change(function () {
        var brandId = $(this).val(); // شناسه برند انتخاب شده
        $('#editBrandLink').attr('href', '{% url "edit_brand" 0 %}'.replace('0', brandId) + '?next={{ request.path }}');
    });

    // وقتی گزینه رنگ تغییر کند
    $('#id_color').change(function () {
    var colorId = $(this).val(); // شناسه رنگ انتخاب شده
    $('#editColorLink').attr('href', '{% url "edit_color" 0 %}'.replace('0', colorId) + '?next={{ request.path }}');
});

    // وقتی گزینه کشور تغییر کند
    $('#id_country_of_manufacture').change(function () {
    var countryId = $(this).val(); // شناسه کشور انتخاب شده
    $('#editCountryLink').attr('href', '{% url "edit_country" 0 %}'.replace('0', countryId) + '?next={{ request.path }}');
});
});
</script>